@model PizzaBox.Client.Models.OrderViewModel
@{
    ViewBag.Title = "Order - Overview";
    Layout = "_CustomLayout";
}


<form class="col-6" asp-action="addpizza" asp-controller="order" method="POST">
    @Html.AntiForgeryToken()
    <div class="container">
        <h3>Select a Pizza</h3>
        @foreach (var pizza in Model.Pizzas)
        {
            <input type="radio" name="Name" id="@pizza.Name" value="@pizza.Name" required>
            <label for="@pizza.Name">@pizza.Name</label>
        }
        
    </div>

    <div class="container">
        <h3>Select a Size</h3>
        @foreach(var size in Model.Pizza.AllSizes)
        {
            <input type="radio" name="Size" id="@size.Name" value="@size.Name">
            <label for="@size.Name">@size.Name</label>
        }
    </div>

    <div class="container">
        <h3>Select a Crust</h3>
        @foreach(var crust in Model.Pizza.AllCrusts)
        {
            <input type="radio" name="Crust" id="@crust.Name" value="@crust.Name">
            <label for="@crust.Name">@crust.Name</label>
        }
    </div>

    <button type="submit">Add Pizza to Order</button>

</form>
<form asp-controller="Order" asp-action="SubmitOrder"  method="POST">
    @Html.AntiForgeryToken()
    <h2>Here are the pizzas in your order:</h2>
    @if(Model.PizzaList is not null)
    {
        @foreach(PizzaViewModel pizza in Model.PizzaList)
        {
            @Html.Partial("Pizza" , pizza)
        }
    }   
    <button type="submit">Submit Order</button>
</form>